<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>动态组件缓存</title>
    <script src="../vue.js"></script>
</head>
<body>
    <div id="root">
        <button v-for='btn in tabs' @click='currentTab = btn'>{{btn}}</button>
        <keep-alive>
            <component :is='currentComponent'></component>
        </keep-alive>
    </div>
    <script>
        Vue.component('tab-home',{
            data(){
                return {
                    contentList:[
                        {
                            id: 1,
                            title: '第一节',
                            content: '动态组件相关知识'
                        },
                        {
                            id: 2,
                            title: '第二节',
                            content: '组件上绑定原始事件'
                        },
                        {
                            id: 3,
                            title: '第三节',
                            content: '动态组件keep-alive'
                        }
                    ],
                    selected: null
                }
            },
            template: `<div>
                <button v-for='item in contentList' @click='selected = item'>{{item.title}}</button>
                <div>
                    <div v-if='selected'>
                        <h3>{{selected.title}}</h3>
                        <p>{{selected.content}}</p>
                    </div>  
                    <div v-else>请点击按钮查看信息</div>  
                </div>
            </div>`
        })
        Vue.component('tab-post',{
            template:`<div>this is tab post page</div>`
        })
        let vm = new Vue({
            el: '#root',
            data: {
                tabs: ['home', 'post'],
                currentTab: 'home'
            },
            computed: {
                currentComponent: function(){
                    return 'tab' + '-' + this.currentTab.toLowerCase();
                }
            }
        })
    </script>
</body>
</html>